@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

$text-color: #a5a5a5;
$primary-default: #09ce35;
$primary-light: #4c8c4a;
$primary-dark: #003300;

$background-1: #0e0e0e;
$background-2: #171515;
$background-3: #3d3b3b;

$drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(0, 0, 0, 0.5),
	5px 5px 10px rgba(14, 14, 14, 0.25), -10px -10px 20px rgba(14, 14, 14, 0.5);

$inner-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.5),
	inset 5px 5px 10px rgba(14, 14, 14, 0.25),
	inset -10px -10px 20px rgba(14, 14, 14, 0.5), inset 10px 10px 20px #000000;

$neon: 0px 0px 10px rgba(76, 140, 74, 0.5), 1px 1px 5px rgba(76, 140, 74, 0.25);

span,
.heading14 {
	font-weight: 600;
	font-size: 0.85rem;
	line-height: 1.125rem;
}

.heading16 {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.375rem;
}

.heading20 {
	font-weight: normal;
	font-size: 1.25rem;
	line-height: 1.625rem;
}

h3,
.heading28 {
	font-weight: normal;
	font-size: 1.75rem;
	line-height: 2.25rem;
}

h2,
.heading32 {
	font-weight: normal;
	font-size: 2rem;
	line-height: 2.5rem;
}

.heading42 {
	font-weight: 300;
	font-size: 2.625rem;
	line-height: 3.125rem;
}

h1,
.heading54 {
	font-weight: normal;
	font-size: 3.375rem;
	line-height: 4rem;
}

.paragraph {
	font-weight: normal;
	font-size: 0.85rem;
	line-height: 1.125rem;
}

.shortParagraph {
	font-weight: normal;
	font-size: 0.85rem;
	line-height: 1.25rem;
}

.longParagraph {
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
}

* {
	padding: 0;
	margin: 0;
}

hr {
	width: 15rem;
	height: 0.625rem;
	background-color: $primary-default;
	box-shadow: $neon;
	border-radius: 0.313rem;
	border: none;
	margin-top: 0.5rem;
	margin-bottom: 2.5rem;
}

a {
	text-decoration: none;
	color: $primary-default;

	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1rem;
}

html {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

body {
	display: initial;
	background-color: $background-1;
	font-family: Poppins;
}

@media (max-width: 1440px) {
	:root {
		font-size: 100%;
	}

	html {
		padding: 0 0rem;
	}
}

@media (max-width: 1024px) {
	:root {
		font-size: 93.75%;
	}
	html {
		padding: 0 0rem;
	}
}

@media (max-width: 768px) {
	:root {
		font-size: 87.5%;
	}
	html {
		padding: 0 0rem;
	}
}

@media (max-width: 425px) {
	:root {
		font-size: 75%;
	}
	html {
		padding: 0 0rem;
	}
}

@media (max-width: 320px) {
	:root {
		font-size: 62.5%;
	}
}

::-webkit-scrollbar {
	width: 10px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: $background-1;
}

::-webkit-scrollbar-thumb {
	background: $primary-default;
}

html {
	scroll-behavior: smooth;
}

.loadingGif {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99999;
}
